img {
    max-width: 100%;
    border-radius: 50%;
}
body {
    background-image: url('../default/maxresdefault.jpg');
}

/*#persp {
    perspective: 500px;
}*/
.btn {
    border-radius: 0px;
    background-color: black;
    border: 1px solid yellow;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    outline: none;
}
.btn:hover {
    color: yellow;
}

.container {
    margin-bottom: 20px;
}

.card {
    height: 200px;
    max-width: 25%;
    margin-top: 20px;
    padding: 0;
    /*border: .5px solid #EBED5B;*/
    border-radius: 50%;
}

.card-holder {
    max-width: 205px;
    /*the children will be absolute, so this needs to be relative*/
    /*border-top: .5px solid #EBED5B;*/
    border: .5px solid #EBED5B;
    position: relative;
    transform-style: preserve-3d;
    transition:  1s all;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 50%;
}

.card-front {
    transform: rotateY(180deg);
}

.card-back {
    background: url('../default/star-wars.jpg') no-repeat 50%;
    height: 200px;
    min-width: 200px;
}

.flip, .matched, .flip-temp{
    transform: rotateY(180deg);
}

.modal-content{
    background-color: rgba(0,0,0,0);
    position: fixed;
    width:900px;;
    height: 100vh;    
}

.modal-body {
    /*background-image: url('../default/stars.jpg');*/
    background-image: url('../default/maxresdefault.jpg');
    background-size: contain;

    width: 900px;
    height: 100vh;
    perspective: 500px;
    transition: all 6s;
    
}
.message-wrapper {
    width: 900px;
    text-align: center;
    margin-left: -1281px;
}
.message {
    position: relative;
    width: 100%;
    top: 1300px;
    color: yellow;
   animation: youWin 200s infinite;
    /*transform: rotateX(30deg) translateY(-300px);*/
    /*transition: 6s linear;*/
}
h1 {
    font-size:200px;
    font-weight: 500;
    width: 493%
}

p {
    font-size: 150px;
    font-weight: 500;
    width: 508%

}
/*.message-wrapper{
    animation: youWinMessageMoveUp 10s infinite;
}*/

@keyframes youWin {
    from {
        transform: rotateX(45deg)
    }
    to {
        transform: translateY(-20000px) translateZ(-20000px);
        
    }
}
